
body,
html {
  width: 100%;
  height: 100%;
}

body {
	font-family: 'Ubuntu', sans-serif;
}


/* Navbar */

#mainNav {
  background-color: rgba(255,255,255,0);
}

#mainNav .navbar-toggler {
  font-size: 12px;
  right: 0;
  padding: 13px;
  text-transform: uppercase;
  color: black;
  border: 0;
  background-color: black;
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}


#mainNav .navbar-brand.active, #mainNav .navbar-brand:active, #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
  color: #fec503;
}

#mainNav .navbar-nav .nav-item .nav-link {
  font-size: 13px;
  color: #000000;
  font-family: 'Ubuntu light', sans-serif;
  line-height: 14px;
  text-align: right;
  
}



@media (min-width: 992px) {
  #mainNav {
    padding-top: 25px;
    padding-bottom: 25px;
    -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
    -moz-transition: padding-top 0.3s, padding-bottom 0.3s;
    transition: padding-top 0.3s, padding-bottom 0.3s;
    border: none;
    background-color: transparent;
  }
  #mainNav .navbar-brand img{
    height: 50px;
    
  }
  #mainNav .navbar-nav .nav-item .nav-link {
    padding: 1.1em 1em !important;
    color: #000000;

  }
  #mainNav.navbar-shrink {
    padding-top: 0;
    padding-bottom: 0;
    background-color: white;
  }
  #mainNav.navbar-shrink .navbar-brand {
    font-size: 1.25em;
    padding: 12px 0;
  }
}

#mainNav .navbar-nav .nav-item .nav-link:hover {
  color: #07e6d0;
}

/* Map */

.map {
  height: 30rem;
}
@media (max-width: 992px) {
	.map {
	  height: 75%;
	}
  }
  
  .map iframe {
	pointer-events: none;
  }
  
  .scroll-to-top {
	position: fixed;
	right: 15px;
	bottom: 15px;
	display: none;
	width: 50px;
	height: 50px;
	text-align: center;
	color: white;
	background: rgba(52, 58, 64, 0.5);
	line-height: 45px;
  }

  .row {
    margin: 0!important;
  }
  
  .scroll-to-top:focus, .scroll-to-top:hover {
	color: white;
  }
  
  .scroll-to-top:hover {
	background: #343a40;
  }
  
  .scroll-to-top i {
	font-weight: 800;
  }

  /* Header */
  
  .masthead {
	min-height: 30rem;
	position: relative;
	display: table;
	width: 100%;
	height: 100%;
	margin-right: 5%;
	background: url("../assets/images/5ba95c9d796a38aebb1e448fffdfea58c5bb704e.png");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
  }
  
  .masthead h1 {
	font-size: 4rem;
	margin: 0;
	padding: 0;
  }
  
  @media (min-width: 992px) {
	.masthead {
	  height: 100vh;
	}
	.masthead h1 {
    font-size: 5.5rem;
    font-family: 'Ubuntu';
	}
  }

header {
	color: #FFFFFF;
	font-family: 'Ubuntu', sans-serif;
}

header h1 {
	height: 1.37%;
	width: 57.29%;
	font-size: 64px;	
  line-height: 74px;
  font-family: 'Ubuntu'
}


header h3 {
	color: #FFFFFF;
  font-family: 'Ubuntu light', sans-serif;
  font-size: 28px;
  font-weight: 300;
  line-height: 55px;
  margin-top: 15px;
  padding-bottom: 10%;
}


header a {
	background-color: #0AF8C5;
  color: #000000;
  border-radius: 1px;
}

/* What we do */

.whatWeDo{
  /* padding: 20px; */
  background-color: rgba(255,255,255,0);
}
.descriptionWallet {
  background-color: rgba(255,255,255,0);
}

.deliverFutur>p {
  font-size: 26px;
  background-color: white;
  color: #000000;
  font-size: 28px;
  font-weight: 300;
  text-align: center;
  text-shadow: 0 1px 1px 0 rgba(0,0,0,0.16);
  font-family: 'Ubuntu light', sans-serif;
}



.wallet {
  height: 120px;
  width: 120px;
}

.descriptionWallet {
  background-color: #fafafa;
}

h2 {
  text-align: center;
  color: #3DD7E2;
  font-size: 48px;
  font-weight: 300;
  line-height: 52px;
  text-align: center;
  text-shadow: 0 1px 1px 0 rgba(0,0,0,0.16);
  font-family: 'Ubuntu light', sans-serif;
  padding-top: 50px;
}

.descriptionWallet h3 {
  color: #000000;
  font-size: 24px;
  letter-spacing: 0.8px;
  line-height: 24px;
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  
}

.descriptionWallet p {
  color: #000000;
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;
  text-align: center;
  font-family: 'Ubuntu light', sans-serif;

}

/* Article */

.articles {
  padding-top: 7.5rem;
	padding-bottom: 7.5rem;
  background-color: #0AF8C5;;
}

.articles h3 {
  font-size: 28px;
  font-weight: 300;
  line-height: 40px;
  color: #000000;
  font-family: 'Ubuntu light', sans-serif;

}

.articles p {
  margin-top: 25px;
  color: rgba(0,0,0,0.6);
  font-family: 'Ubuntu light', sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 28px;

}

.articles a {
  border-radius: 1px;
  background-color: #464646;
  color: #FFFFFF;
  font-size: 20px;
  font-weight: 300;
  line-height: 24px;
  text-align: center;
  margin-left: 0px;
  margin-top: 39px;
}

/* About */

.about {
  color: #505050;
  font-size: 18px;
  font-family: 'Ubuntu light', sans-serif;
  font-weight: 300;
  line-height: 38px;
  padding-top: 80px;
  padding-bottom: 80px;
}

.about h2 {
  padding: 10px;
}

.view {
  height: 350px;
  padding-top: 15%;
}

/* Contact */

.myButton {
  -moz-box-shadow: inset 0px 1px 0px 0px #00eacf;
  -webkit-box-shadow: inset 0px 1px 0px 0px #00eacf;
  box-shadow: inset 0px 1px 0px 0px #00eacf;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #00eacf), color-stop(1, #00eacf));
  background: -moz-linear-gradient(top, #00eacf 5%, #00eacf 100%);
  background: -webkit-linear-gradient(top, #00eacf 5%, #00eacf 100%);
  background: -o-linear-gradient(top, #00eacf 5%, #00eacf 100%);
  background: -ms-linear-gradient(top, #00eacf 5%, #00eacf 100%);
  background: linear-gradient(to bottom, #00eacf 5%, #00eacf 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00eacf', endColorstr='#00eacf', GradientType=0);
  background-color: #00eacf;
  border: 1px solid #00eacf;
  display: inline-block;
  cursor: pointer;
  color: #000000;
  font-family: 'Ubuntu';
  font-size: 12px;
  font-weight: bold;
  padding: 10px 30px;
  text-decoration: none;
}

.myButton:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #00eacf), color-stop(1, #00eacf));
  background: -moz-linear-gradient(top, #00eacf 5%, #00eacf 100%);
  background: -webkit-linear-gradient(top, #00eacf 5%, #00eacf 100%);
  background: -o-linear-gradient(top, #00eacf 5%, #00eacf 100%);
  background: -ms-linear-gradient(top, #00eacf 5%, #00eacf 100%);
  background: linear-gradient(to bottom, #00eacf 5%, #00eacf 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00eacf', endColorstr='#00eacf', GradientType=0);
  background-color: #00eacf;
}

.myButton:active {
  position: relative;
  top: 1px;
}

.jarvisEdge {
  color: white;
}

.jarvisEdge>h1 {
  font-weight: bold;
}

/* Articles section */

.articles {
  background-color: #07E6CF;
}



/*Contact*/
/* .mapImage {
	min-height: 30rem;
	position: relative;
	display: table;
	width: 2000px;
	height: auto;
	padding-top: 8rem;
	padding-bottom: 8rem;
	background: url("../assets/images/map.png");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
  } */

  .contact {
    background-color: #0d1f2d;
  }

  .mapPlace{
    position: relative; 
    z-index: 4;
    min-width: 100%;
    max-height: 100%;
    height: 600px;
  }

  .sectionMap{
    padding-left: 0px;
    padding-right: 0px;
  }
  
  .textOnMap{
    position: absolute; 
    z-index: 6;
    border: solid #0d1f2d;
    font-size: 24px;
    height: 48px;
    width: 700px;
    padding-left: 5%;
    background-color: #0d1f2d;
    color: #ffffff;
    font-family: 'Ubuntu', sans-serif;
  }

.myButtonInput {
  margin-top: 30px;
  background-color:  #07e6d0;
  border-radius: 1px;
  /* display: inline-block; */
  cursor: pointer;
  color: #0D1F2D;
  font-size: 20px;
  font-weight: 300;
  line-height: 24px;
  text-align: center;
  font-family: 'Ubuntu light', sans-serif;
  width: 19em;
  height: 2em;
  /* font-family: Arial;
  font-size: 16px;
  padding: 11px 76px;
  text-decoration: none;
  text-shadow: 0px 0px 0px #2f6627; */
}

.form-group {
  margin-top: 19px;
}

.form-control {
  background-color: #0d1f2d;
  border-top: white;
  border-right: white;
  border-left: white;
  border-bottom: #B0B0B0 solid 1px;
  border-radius: 0;
  
}


.animated-label {
  color: white;
}

.textArea{
  resize: none;
  border: #B0B0B0 solid 1px;
}

.textArea:focus {
  background-color: #0d1f2d;
  box-shadow: inset 0 1px 1px #0d1f2d;
  border-bottom: white solid 1px;
}

.form-control:focus {
  background-color: #0d1f2d;
  box-shadow: inset 0 1px 1px #0d1f2d;
  border-bottom: white solid 1px;
}

/*footer*/

a{
  color: black;
}

a:hover{
  color: #07e6d0;
}

p {
  font-family: 'Ubuntu light', sans-serif;  
  color: #505050;
}